
    

h1 {
    
    color: white;
    font-weight: bold;
    font-family: 'Permanent Marker', cursive;
    font-size: 25px;
    text-align: center;
    padding: 20px;
    border-radius: 25%;
    background-color: rgb(158, 201, 221);
}

nav ul li {
    display: inline;
    margin: 175px;
}

nav ul li a {
    text-decoration: none;
}
body main img {
    width: 200px;
    border-radius: 50%;
 }
body {
    background-image: url(https://www.adobe.com/express/create/media_1ff27df8a32848f6ca9d248c89fbd476c339135bc.png?width=2000&format=webply&optimize=medium);
}
body main p {
    padding: 50px;
    text-align: center;
    font-size: 18px;
    font-family: cursive;
}
body footer {
    text-align: center;
}

ol li {
    font-family: cursive;
    font-size: 16px;
    padding: 3px;
} 

ul {
    padding: 20px;
    font-family: cursive;
    font-size: 16px;
}


 #one {   background-color: #eeeeee;
    color: #666666;
    text-shadow: 1px 1px 0px #000000;}
    #two {
    background-color: #dddddd;
    color: #666666;
    text-shadow: 1px 1px 3px #666666;}
    #three {
    background-color: #cccccc;
    color: #ffffff;
    text-shadow: 2px 2px 7px #111111;}
    #four {
    background-color: #bbbbbb;
    color: #cccccc;
    text-shadow: -1px -2px #666666;}
    #five {
    background-color: #aaaaaa;
    color: #ffffff;
    text-shadow: -1px -1px #666666;}
    #six {   background-color: #eeeeee;
        color: #666666;
        text-shadow: 1px 1px 0px #000000;}
        #seven {
        background-color: #dddddd;
        color: #666666;
        text-shadow: 1px 1px 3px #666666;}
        #eight {
        background-color: #cccccc;
        color: #ffffff;
        text-shadow: 2px 2px 7px #111111;}
        #nine {
        background-color: #bbbbbb;
        color: #cccccc;
        text-shadow: -1px -2px #666666;}
        #ten {
        background-color: #aaaaaa;
        color: #ffffff;
        text-shadow: -1px -1px #666666;}
        
